.bgColor{
  background: linear-gradient(#c45ec4 10%, #fcafef 90%);
}

.viewTitle {
  color: rgb(73, 2, 62);
  font-size: 40px;
  font-family: garamond;
}

.noProduct {
  background-color:rgb(241, 205, 205);
  color: red;
}

table {
    font-family: garamond;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    text-align: center;
}

td{
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 25px;
}


th {
    border: 1px solid #dddddd;
    text-align: center;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 40px
}

tr:nth-child(even){
    background-color: #dddddd;
    height: 20px;
    
}

.personalForm{
  width: 500px;
  font-family: arial,sans-serif;
}


.myButton {
  background-color: #4c154e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 500px
  
}


.logoutButton {
  background-color: #4c154e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border: none;
  
}

.myEmailFormat {
  font-weight: bold;
  color: blue;  
}

.myTimeFormat {
  color: brown;
}

.myMessageForma{
  font-weight: ital;
  color: green;
} 

.line{
  border-color: rgb(73, 2, 62)
}

.myInput {
  background-color: #a718ac;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 500px
  
}
